################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IHS_GitHubPages/FileContentIndex
/.vs/IHS_GitHubPages/v17
/.vs
